* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #0f1111;
}

.list-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    list-style: none; /* Bullets remove */
}

.list-items a {
    text-decoration: none; /* Underline remove */
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.list-items a:hover {
    color: orange;
}

body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 40px auto;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Cards Container */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Single Card */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 20px;
    color: #555;
}

.card button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #0056b3;
}

.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    gap: 40px;
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 35px;
    margin-bottom: 20px;
    color: #333;
}

.about-content p{
    font-size: 18px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
}

.about-content button{
    padding: 12px 25px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

.about-content button:hover{
    background-color: darkblue;
}

.about-image{
    flex: 1;
}

.about-image img{
    width: 100%;
    border-radius: 10px;
}